<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.ExpenseItemMapper">
	<insert id="save" parameterType="ExpenseItem">
		insert into expenseItem values(default,#{expid},#{type},#{amount},#{itemDesc})
	</insert>
</mapper>